extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug


block main
    h1 Danh Sách Sản Phẩm Quản Trị Viên

    .card.mb-3
        .card-header Bộ lọc và Tìm kiếm
        .card-body
            .row
                .col-6
                    +filter-status(filterStatus)

                .col-6
                    +search(keyword)                   
                    +formChangeMulti(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                   
    .admin-products
        table(class=".table-admin" checkbox-multi)
            thead
                tr
                    th
                        input(type="checkbox" name="checkall")
                    th.stt STT
                    th.thumb Hình ảnh
                    th.title Tiêu đề
                    th.price Giá
                    th.status Trạng thái
                    th.actions Hành động
            tbody
                if !products || products.length === 0
                    tr
                        td(colspan='7') Chưa có sản phẩm
                else
                    each product, idx in products
                        tr
                            td
                                input(type="checkbox" name="id" value=product.id)
                            td.stt #{idx + 1}
                            td
                                img(src=product.thumbnail, alt=product.title, width='100px', height='auto')
                            td #{product.title}
                            td #{product.price}$
                            td
                                if product.status === 'active'
                                    a(
                                        href='javascript:;'
                                        data-status=product.status
                                        data-id=product.id
                                        class='badge badge-success'
                                        button-change-status
                                    ) Hoạt động
                                else
                                    a(
                                        href='javascript:;'
                                        data-status=product.status
                                        data-id=product.id
                                        class='badge badge-danger'
                                        button-change-status
                                    ) Dừng hoạt động
                            td
                                a(href=`/admin/products/edit/${product._id}`, class='btn btn-warning btn-sm') Sửa
                                a(href=`/admin/products/delete/${product._id}`, class='btn btn-danger btn-sm') Xóa

    +pagination(pagination)

    form(
        action=""
        method="POST"
        id="form-change-status"
        data-path=`/admin/products/change-status`
    )

    script(src="/admin/js/product.js")
